<form>
  <mat-form-field appearance="outline">
    <mat-label>Purchase price of the property</mat-label>
    <input type="number" matInput />
    <span matSuffix>$</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Monthly rent amount</mat-label>
    <input type="number" matInput />
    <span matSuffix>$</span>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Annual rental fee</mat-label>
    <input type="number" matInput />
    <span matSuffix>%</span>
  </mat-form-field>
</form>
