<form class="mx-15 text-14 mt-30" [formGroup]="form">
  <div class="mx-auto max-w-550 px-20">
    <div class="w-full flex justify-center">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Purchase price of the property</mat-label>
        <input type="number" matInput formControlName="propertyValue" />
        <span matSuffix>$</span>
      </mat-form-field>
    </div>

    <div class="w-full flex justify-center">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Monthly rent amount</mat-label>
        <input type="number" matInput formControlName="rentAmount" />
        <span matSuffix>$</span>
      </mat-form-field>
    </div>

    <div class="w-full flex justify-center">
      <mat-form-field class="w-full" appearance="outline">
        <mat-label>Annual rental fee</mat-label>
        <input type="number" matInput formControlName="annualRentalFee" />
        <span matSuffix>$</span>
      </mat-form-field>
    </div>
  </div>
</form>