<section class="bg-emerald-100 min-h-100vh flex flex-col justify-between">

  <div class="text-20 font-black text-emerald-600 flex justify-center mt-50 relative">
    <div class="absolute top-1/2 -translate-y-1/2">Emerald Stay Rental Calculator</div>
    <mat-icon class="text-white text-[100px] flex justify-center min-w-100 min-h-100">home_work</mat-icon>
  </div>

  <div class="flex-grow flex flex-col-reverse mb-50">
    <app-calculator (priceChanges)="onPriceChange($event)"></app-calculator>
    <div class="bg-emerald-600 mx-auto max-w-550 px-20 py-30 text-white mb-50 sm:text-20 text-15">
      <div class="flex justify-center mb-30">
        <mat-icon class="min-w-30 min-h-30 ">currency_exchange</mat-icon>
      </div>
      <div class="mb-10">
        <span>Monthly net income in 1st year:</span> <span class="ml-10 font-bold">{{ mniFirst | currency }}</span>
      </div>
      <div class="mb-10">
        <span>Monthly net income in 2nd year :</span> <span class="ml-10 font-bold">{{ mniSecond | currency }}</span>
      </div>
      <div class="mb-10">
        <span>Monthly net income in the following years:</span> <span class="ml-10 font-bold">{{ mniFollow |
          currency
          }}</span>
      </div>
      <hr class="border-emerald-100" />
      <div class="mt-10"><span>Return on the first 3 years:</span> <span class="ml-10 font-bold">{{ returnThreeYears |
          currency
          }}</span>
      </div>
    </div>
  </div>
  <div class="flex justify-center flex-wrap gap-30 mb-30">
    <div
      class="flex flex-col justify-center items-center border border-emerald-600 rounded-2xl w-140 h-120 bg-emerald-600 text-white"
      *ngFor="let item of agencyFees">
      <mat-icon class="text-30 min-w-30 min-h-30 mb-10">real_estate_agent</mat-icon>
      <span class="text-14">{{ item.year }}</span>
      <span class="font-bold">{{ item.fee | percent }}</span>
    </div>
  </div>
</section>